/* Aeline design tokens — :root custom properties */
:root {
  --new-base_typography---xs--font-size\<deleted\|variable-d86116af-cb00-a9a6-f483-abda1eec9a6b\>: var(--new-base_sizes---fixed--0-75rem\<deleted\|variable-0249d96d-11e2-a63b-4e21-ff6659602636\>);
  --new-base_typography---font-weight--semibold\<deleted\|variable-aae11268-5734-8da2-e6b0-ae68c4cdc231\>: 600;
  --new-base---base--black\<deleted\|variable-7e26cb95-3ce4-d0f3-7096-54de61de0773\>: #1d1d1d;
  --bg-color--bg-default: var(--base--white);
  --_typography---font-family--body: "Plus Jakarta Sans", sans-serif;
  --text-color--text-primary: var(--base--black);
  --_sizes---fixed--medium: 1rem;
  --_typography---font-weight--regular: 400;
  --_sizes---fixed--none: 0rem;
  --_typography---h1--font-family: var(--_typography---font-family--headers);
  --text-color--text-on-primary: var(--base--white);
  --_typography---h1--font-size: 3.75rem;
  --_typography---h1--line-height: 1.2;
  --_typography---h1--font-weight: var(--_typography---font-weight--medium);
  --_typography---h1--letter-spacing: -.06em;
  --_typography---h2--font-family: var(--_typography---font-family--headers);
  --_typography---h2--font-size: 3rem;
  --_typography---h2--line-height: 1.2;
  --_typography---h2--font-weight: var(--_typography---font-weight--medium);
  --_typography---h2--letter-spacing: -.06em;
  --_typography---h3--font-family: var(--_typography---font-family--headers);
  --_typography---h3--font-size: var(--_sizes---fixed--xlarge);
  --_typography---h3--line-height: 1.5;
  --_typography---h3--font-weight: var(--_typography---font-weight--medium);
  --_typography---h3--letter-spacing: -.04em;
  --_typography---h4--font-family: var(--_typography---font-family--headers);
  --_typography---h4--font-size: var(--_sizes---fixed--large);
  --_typography---h4--line-height: 1.1;
  --_typography---h4--font-weight: var(--_typography---font-weight--regular);
  --_typography---h4--letter-spacing: 0em;
  --_typography---h5--font-family: var(--_typography---font-family--headers);
  --_typography---h5--font-size: 1.125rem;
  --_typography---h5--line-height: 1.15;
  --_typography---h5--font-weight: var(--_typography---font-weight--regular);
  --_typography---h5--letter-spacing: 0em;
  --_typography---h6--font-family: var(--_typography---font-family--headers);
  --_typography---h6--font-size: 1.125rem;
  --_typography---h6--line-height: 1.2;
  --_typography---h6--font-weight: var(--_typography---font-weight--regular);
  --_typography---h6--letter-spacing: 0em;
  --_sizes---fixed--xlarge: 1.5rem;
  --_sizes---fixed--xxsmall: .25rem;
  --_sizes---fixed--large: 1.25rem;
  --bg-color--bg-subtle: var(--grey--grey-100);
  --_sizes---fixed--huge: 2rem;
  --_typography---font-weight--semibold: 600;
  --text-color--text-secondary: var(--grey--grey-400);
  --_sizes---fixed--small: .75rem;
  --_sizes---padding-section--small: 2rem;
  --text-color--text-subtle\<deleted\|variable-1da72c9f-5ac1-a5ce-af72-d34835774f2f\>: #eaeaea;
  --_typography---font-weight--medium: 500;
  --grey--grey-600: #363636;
  --border-color--border-primary\<deleted\|variable-d4c54ba4-ee41-67ce-58a5-5216ca039f83\>: #efeff2;
  --_typography---xl--font-size: var(--_sizes---fixed--xlarge);
  --_typography---xl--line-height: 1.33;
  --_typography---xl--font-weight: var(--_typography---font-weight--medium);
  --_typography---xl--letter-spacing: -.04em;
  --_typography---font-weight--light: 300;
  --_typography---base--font-size: var(--_sizes---fixed--medium);
  --_typography---base--line-height: 1.5;
  --_typography---base--letter-spacing: -.02em;
  --_typography---lg--font-size: var(--_sizes---fixed--large);
  --_typography---lg--line-height: 1.5;
  --_typography---lg--letter-spacing: -.02em;
  --bg-color--bg-secondary: var(--grey--grey-200);
  --base--black: black;
  --_sizes---padding-section--large: 4.5rem;
  --_typography---xs--font-size: var(--_sizes---fixed--small);
  --_typography---xs--line-height: 1.5;
  --_typography---xs--letter-spacing: 0em;
  --grey--grey-900: #131313;
  --base--white: #fff;
  --bg-color--bg-green: var(--base--green);
  --_typography---button--font-family: var(--_typography---font-family--alternate);
  --bg-color--bg-dark: var(--grey--grey-900);
  --_typography---button--line-height: 1.5;
  --_typography---button--font-weight: var(--_typography---font-weight--regular);
  --_typography---button--letter-spacing: .12em;
  --base--translucent-black: #12283540;
  --grey--grey-200: #ececec;
  --grey--grey-700: #2f2f2f;
  --grey--grey-300: #c7c7c7;
  --border-color--border-alternate\<deleted\|variable-551aa6d2-4bf8-6036-137a-78e1c71841a4\>: var(--base-color-neutral--neutral-darker\<deleted\|variable-dda6ad91-259a-0202-f70f-965feb273058\>);
  --_typography---sm--font-size: var(--_sizes---fixed--regular);
  --_typography---sm--line-height: 1.5;
  --_typography---sm--letter-spacing: -.02em;
  --_sizes---padding-section--medium: 4rem;
  --_sizes---fixed--xsmall: .5rem;
  --_sizes---fixed--xhuge: 2.5rem;
  --_sizes---fixed--tiny: .125rem;
  --_sizes---fixed--xxlarge: 1.75rem;
  --base--green: #d6fd70;
  --_typography---2xl--font-size: var(--_sizes---fixed--huge);
  --_typography---2xl--line-height: 1.33;
  --_typography---2xl--letter-spacing: -.04em;
  --_typography---3xl--font-size: 2.25rem;
  --_typography---3xl--line-height: 1.2;
  --_typography---3xl--font-weight: var(--_typography---font-weight--medium);
  --_typography---3xl--letter-spacing: -.04em;
  --_typography---4xl--font-size: var(--_sizes---fixed--xhuge);
  --_typography---4xl--line-height: 1.2;
  --_typography---4xl--letter-spacing: -.06em;
  --_typography---5xl--font-size: 4.5rem;
  --_typography---5xl--line-height: 1.2;
  --_typography---5xl--font-weight: var(--_typography---font-weight--medium);
  --_typography---5xl--letter-spacing: -.06em;
  --_typography---font-weight--bold: 700;
  --bg-color--bg-white: var(--base--white);
  --_typography---font-family--alternate: Geistmono, Arial, sans-serif;
  --bg-color--bg-primary: var(--grey--grey-100);
  --grey--grey-100: #f2f2f2;
  --bg-color--bg-hover\<deleted\|variable-07249897-f71c-dd53-6216-4b6845d3f64e\>: var(--base--grey-light\<deleted\|variable-e77efb59-b29d-151a-6f0f-bfc9f2744592\>);
  --_sizes---fixed--regular: .875rem;
  --_sizes---fixed--xxhuge: 3rem;
  --grey--grey-400: #585858;
  --text-color--text-on-secondary: var(--grey--grey-300);
  --base--red: #ff3336;
  --_typography---font-family--headers: "Plus Jakarta Sans", sans-serif;
  --base--light-blue: #38c6f6;
  --new-base---accent-indigo: #4f46e5;
  --new-base---accent-cyan: #06b6d4;
  --new-base---accent-violet: #7c3aed;
  --new-base---accent-sky: #0ea5e9;
  --new-base---text-secondary: #ffffff80;
  --new-base---white: #fff;
  --new-base---border-subtle: #ffffff1f;
  --new-base---text-tertiary: #ffffff4d;
  --new-base---text-primary: #fff;
  --new-base---bg-secondary: #0f0f0f;
  --new-base---border-default: #ffffff14;
  --new-base---black: #050505;
  --new-base---bg-primary: #0a0a0f;
  --_typography---2xl--font-weight: var(--_typography---font-weight--medium);
  --_typography---lg--font-weight: var(--_typography---font-weight--medium);
  --base--blue: #2453ff;
  --base--blue-dark: #003cff;
  --_typography---button--font-size: var(--_sizes---fixed--medium);
  --base--yellow: #f1ee46;
  --_typography---font-weight--thin: 100;
  --_typography---font-weight--extra-light: 200;
  --_typography---font-weight--extra-bold: 800;
  --_typography---font-weight--black: 900;
  --grey--grey-500: #474747;
  --grey--grey-800: #191815;
  --new-base_sizes---fixed--0-75rem\<deleted\|variable-0249d96d-11e2-a63b-4e21-ff6659602636\>: .75rem;
  --base-color-neutral--neutral-darker\<deleted\|variable-dda6ad91-259a-0202-f70f-965feb273058\>: #27272a;
  --base--grey-light\<deleted\|variable-e77efb59-b29d-151a-6f0f-bfc9f2744592\>: #eeecea;
}
